.menu-opened-container {
    width: 300px;
    height: 100vh;

    padding: 20px 10px;

    border: .5px solid var(--grey);;
    border-radius: 0px var(--border-radius) var(--border-radius) 0px;

    background-color: #fff;

    display: flex;
    flex-direction: column;
    gap: 24px;

    position: absolute;
    top: 0;
    left: 0;

    transition: all .5s;
}

.menu-opened-container a {
    text-decoration: none;
    color: var(--black);

    display: flex;
    align-content: center;
    gap: 22px;
}

.menu-link-name {
    font-size: 1.25em;

    white-space: nowrap;

    animation: fade 1s;
}

.menu-close-button {
    height: 24px;

    background-color: transparent;

    border: none;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .5s;

    cursor: pointer;
}

.burger-button {
    width: 24px;
    height: 3px;

    background: var(--black);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .5s;
}

.burger-button::after,
.burger-button::before {
    content: '';

    width: 24px;
    height: 3px;

    background: var(--black);
    border-radius: 10px;

    transition: all .5s;

    position: absolute;
}

.burger-button::before {
    transform: translateY(-10px);
}

.burger-button::after {
    transform: translateY(10px);
}

/* Animation for burger */

.menu-close-button.active .burger-button {
    background: transparent;
}

.menu-close-button.active .burger-button::before {
    transform: rotate(45deg);
}

.menu-close-button.active .burger-button::after {
    transform: rotate(-45deg);
}

.menu-items {
    list-style: none;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 17.6fr;
    gap: 18px;
}

.menu-items .item a {
    padding: 8px;

    border-radius: var(--border-radius);
}

.menu-items .item  :hover {
    background-color: #ffdfdd;
}

.menu-items .last-item {
    margin-top: auto;
}

.menu-items .active {
    background-color: #ffdfdd;
}

/* #FE5F55, #FFD151 */

@keyframes fade {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }