@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --red: #FE5F55;
  --grey: #BEBEBE;
  --light-grey: #F6F6F6;
  --black: #0C243A;
  --dark-blue: #3491FF;
  --blue: #C6E0FF;
  --dark-green: #45DE68;
  --green: #C6FFD3;
  --yellow: #FFD151;

  --border-radius: 10px;

 /* z-indexes */
 --ui-index-0: 0; /* for basic elements */
 --ui-index-1: 1; /* for basic elements */
 --ui-index-2: 2; /* for basic elements */
 --ui-index-3: 3; /* for blur and shadow masks */
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

html {
  background-color: var(--light-grey);
}

.main-container {
  display: flex;

  width: 100vw;
}

.content-container {
  width: max(100vw - 300px, 100vw);
}
